*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin:0;
}
.container{
    display: flex;
    flex-direction: column;
    width:70vw;
    height: 70vh;
    transform: translate(25%,25%);
    border: 2px solid;
    justify-content: space-around;
    background-color: #eee;
}
.child1{
    display: flex;
    justify-content: space-around;
}
.child2{
    display: flex;
    justify-content: center;
}
p{
    width:150px;
    height: 70px;
    background-color: white;
    text-align: center;
    padding: 20px;
    color: black;
    outline:1px solid;
    border-radius: 30%;
    font-size: 1.3rem;
}
p:hover{
    background-color: pink;
    color: white;
    outline: 1px solid white;
    transition: 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;
}
.child1 > .a1:hover ~ .child2 > .img {
    transform: translate(50px, 50px);
}

.child1 > .a2:hover ~ .child2 .img {
    transform: rotate(45deg);
}

.child1 > .a3:hover ~ .child2 .img {
    transform: scale(1.5);
}

.child1 > .a4:hover ~ .child2 .img {
    transform: skew(20deg, 10deg);
}